<nav-tabs-directive></nav-tabs-directive>
<br>
<!--<md ng-include="'https://raw.githubusercontent.com/CoinOffering/coinoffering.github.io/master/dapp/views/home.content.en.md'"></md>-->

<h2>CoinOffering Ltd.</h2>

<h3>Dapp for CoinOffering cryptoshares</h3>

<p>To use smart contract you have to open this page in Mist
    (you can download and install Mist on <a href="https://github.com/ethereum/mist/releases">
        github.com/ethereum/mist/releases</a> ).
</p>
<p>
    Put address of this page (<a href="https://coinoffering.github.io/dapp/">https://coinoffering.github.io/dapp/</a>)
    to Mist browser address bar and click 'Enter'.
    Then click on the 'connect' in the upper right corner, and authorize one more blockchain accounts to work with this
    smart contract.
</p>
<img src="img/mist.manual.png" alt="Mist window" class="img-responsive">
<br><br>
<p>
    In Mist you can switch between MainNet and TestNet - balances in smart contract are, of course, different,
    but code and interface are the same.
</p>


