<br>
<ul class="nav nav-tabs">

    <li role="presentation" ui-sref-active="active">
        <a ui-sref="home">Home</a>
    </li>

    <li role="presentation" ui-sref-active="active">
        <a ui-sref="smartContract"
           title="To load smart contract you have to open this web-site in Google Chrome with MetaMask or in Mist browser,
           and connect with at least one blockchain account">
            Load Smart Contract
        </a>
    </li>
    <!--
    <li ng-show="(rootScopeNetworkVersion) && (rootScopeNetworkVersion == '3')"
        role="presentation" ui-sref-active="active">
        <a ui-sref="tokenExchange"
           title="">
            Token Exchange
        </a>
    </li>
    -->

    <!--
        <li ng-show="(rootScopeNetworkVersion) && (rootScopeNetworkVersion == '3')"
            role="presentation" ui-sref-active="active">
            <a ui-sref="ico"
               title="(in development)">
                Buy Shares
            </a>
        </li>
    -->

    <li role="presentation" ui-sref-active="active">
        <a ui-sref="ico"
           title="(in development)">
            Buy CoinOffering Ltd. CryptoShares
        </a>
    </li>

</ul>