<div id="navigation" xmlns="http://www.w3.org/1999/html">
    <nav-tabs-directive></nav-tabs-directive>
    <br>
</div>
<!-- Alerts: -->
<div id="alerts">
    <div ng-show="alertDanger" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span ng-click="alertDanger=null">&times;</span>
        </button>
        {{alertDanger}}
    </div>
    <div ng-show="alertWarning" class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
        {{alertWarning}}
    </div>
    <div ng-show="alertInfo" class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
        {{alertInfo}}
    </div>
    <div ng-show="alertSuccess" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
        {{alertSuccess}}
    </div>

    <!-- info alert -->
    <div ng-show="networkInfo" class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
        Your network:
        {{networkInfo}}<br>
        Your client/node version: {{clientNodeVersion}}

    </div>
</div>

<div id="loadingSpinner" ng-hide="showMainSection || notConnected">
    <center>
        <i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
    </center>
</div>

<div ng-show="showMainSection" id="main">

    <div id="dashboard" ng-hide="noAccountsDetected">

        <!-- ######################## CONTRACT DATA: -->
        <div id="contractData">
            <h3>CoinOffering Ltd. smart contract:</h3>
            <div id="contractAddress">
                Contract address:
                <a ng-href="{{etherscanLinkPrefix}}/address/{{contract.address}}" target="_blank">
                    <code>{{contract.address}}</code>
                </a>
            </div>
            <div id="contractSource">

            </div>
            <!-- -->
            <div id="totalSupply">
                <div>
                    Total shares issued:
                    <a href="">
                        {{totalSupply}}
                    </a> ||
                    <a ng-href="{{etherscanLinkPrefix}}/address/{{contract.address}}#code"
                       title="click to see smart contract code source" target="_blank">
                        Contract source
                    </a>
                </div>
            </div>
            <div id="corporationDocuments">
                <div>
                    Corporation documents:
                    <div id="bylaws">
                        CoinOffering
                        <a href="https://github.com/CoinOffering/Bylaws/blob/master/scan-registered-bylaws-public.pdf"
                           target="_blank">
                            Bylaws
                        </a>
                    </div>

                </div>
            </div>

            <!-- ######################## CHART and table: -->
            <div id="shareholdersInfo">
                <h3 ng-click="showChart = !showChart" title="click to show/hide">
                    CoinOffering Ltd.: Equity
                    <span ng-hide="shareholdersBalancesArray.length > 0" title="loading ...">
                    &nbsp;<i class="fa fa-refresh fa-spin fa-fw"></i>&nbsp;
                </span>
                    <span ng-show="!showChart"><i class="icon ion-arrow-right-b"></i></span>
                    <span ng-show="showChart"><i class="icon ion-arrow-down-b"></i></span>
                </h3>
                <div ng-show="showChart">
                    <div>
                        <div id="piechart"></div>
                    </div>
                </div>
                <br>
                <!-- table: -->
                <h4 ng-click="showAllShareholders=!showAllShareholders" title="click to show/hide">
                    All shareholders:
                    <span ng-show="!showAllShareholders"><i class="icon ion-arrow-right-b"></i></span>
                    <span ng-show="showAllShareholders"><i class="icon ion-arrow-down-b"></i></span>
                </h4>
                <div ng-show="showAllShareholders">
                    <div ng-show="shareholdersBalancesArray && shareholdersBalancesArray.length > 0">
                        <div ng-repeat="acc in shareholdersBalancesArray">

                            <a ng-href="{{etherscanLinkPrefix}}/address/{{acc[0]}}"
                               style="font-family: Courier, monospace" target="_blank">
                                ({{$index}}) {{acc[0]}} : {{acc[1]}} shares(s) <br>
                            </a>

                        </div>
                    </div>
                    <br>
                </div>
                <button ng-click="refreshShareholdersBalancesArray()" class="btn btn-default">Refresh data</button>
                <hr>
            </div>

            <!-- ######################## USER ACCOUNTS: -->
            <div id="defaultAccount">
                <h3>Your default account to work with this smart contract:</h3>
                <div ng-show="web3.eth.defaultAccount">
                    <strong>{{web3.eth.defaultAccount}}</strong>
                    <span>&nbsp;:&nbsp;</span>
                    <strong>{{balanceOf[web3.eth.defaultAccount]}}</strong> shares,
                    {{etherOnAccountOnBlockchain[web3.eth.defaultAccount]}}
                    &nbsp;ETH&nbsp;
                    <div ng-hide="web3.eth.defaultAccount">
                        Default account not set
                    </div>
                </div>
            </div>

            <div id="allAccounts" ng-hide="noAccountsDetected">
                <h3 ng-click="showAllAccounts = !showAllAccounts" title="click to show/hide">
                    All your accounts:
                    <span ng-show="!showAllAccounts"><i class="icon ion-arrow-right-b"></i></span>
                    <span ng-show="showAllAccounts"><i class="icon ion-arrow-down-b"></i></span>
                </h3>
                <div ng-show="showAllAccounts">
                    <div ng-show="web3.eth.accounts.length > 0">

                        <div ng-repeat="acc in web3.eth.accounts">

                            <div ng-click="setDefaultAccount(acc)" title="Click to set as default">
                                <a href="" style="font-family: Courier, monospace"
                                   ng-class="{selected: acc==web3.eth.defaultAccount}">
                                    ({{$index}}) {{acc}} : ETH {{etherOnAccountOnBlockchain[acc]}}
                                    : {{balanceOf[acc]}} shares(s)
                                    <br>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div ng-hide="web3.eth.accounts.length > 1">
                        other accounts are not available
                    </div>
                    <br>
                    <button ng-click="refreshBalances()" class="btn btn-default">Refresh accounts data</button>
                </div>
                <hr>
            </div>
            <!-- ######################## TRANSACTIONS: -->
            <div id="transactions">
                Your last transaction in this smart contract:
                <a ng-href="{{etherscanLinkPrefix}}/tx/{{lastTxId}}" target="_blank">
                    {{lastTxId}}
                </a>
                <br>
                <button ng-click="showAllTransactions=!showAllTransactions">
                    show/hide your last transactions in this smart contract
                </button>
                <br>
                <div ng-show="showAllTransactions" ng-repeat="tx in transactions">
                    <a ng-href="{{etherscanLinkPrefix}}/tx/{{tx}}" target="_blank">
                        {{tx}}
                    </a>
                    <br>
                </div>
                <hr>
            </div>

            <!-- ######################## FUNCTIONS: -->
            <div id="contractFunctions">
                <div id="transfer">
                    <h4>Transfer shares to another account</h4>
                    <div class="row">
                        <div class="col-xs-3">
                            <label for="transferValue">Number of shares to transfer:</label>
                        </div>
                        <div class="col-xs-4">
                            <input type="number" ng-model="transferValue" id="transferValue">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <label for="transferTo">Receiver address:</label>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" ng-model="transferTo" id="transferTo" size="42">
                        </div>
                    </div>
                    <button ng-click="transfer()" class="btn btn-default">
                        Transfer
                    </button>
                </div>
            </div>
            <hr>
        </div>
        <!-- ######################## VOTING: -->
        <div id="voting">
            <hr>
            <h3>Voting</h3>
            <div id="getProposalText">
                Proposal ID :
                <input type="number" ng-model="proposalID"><br>
                <!--id: {{proposals[proposalID].id}}<br>-->
                <b>description:</b> {{proposals[proposalID].description}}<br>
                <b>deadline:</b> {{proposals[proposalID].deadline | date:'medium'}}<br>

                <span ng-show="proposals[proposalID].finished">
                <b>finished:</b>{{proposals[proposalID].finished}}<br>
                </span>

                <button ng-click="voteForProposal(proposalID)"
                        class="btn btn-default"
                        ng-class="{disabled: proposals[proposalID].finished}">
                    Vote
                </button>
                <button ng-click="countVotes(proposalID)"
                        class="btn btn-default"
                        ng-class="{disabled: proposals[proposalID].finished}">
                    Count Votes
                </button>
                <hr>
            </div>

            <div id="proposals">
                <h3 ng-click="showAllProposals = !showAllProposals" title="click to show/hide">
                    <!-- see: http://stackoverflow.com/questions/15166184/are-complex-expressions-possible-in-ng-hide-ng-show/20265905#20265905 -->
                <span ng-hide="(events.length > 0) || (eventsError) || (metaMask && mainNet)" title="loading ...">
                    <i class="fa fa-refresh fa-spin fa-fw"></i>
                </span>
                    <span ng-hide="metaMask">All proposals:</span>
                    <span ng-show="metaMask">Last proposals:</span>

                    <span ng-show="!showAllProposals"><i class="icon ion-arrow-right-b"></i></span>
                    <span ng-show="showAllProposals"><i class="icon ion-arrow-down-b"></i></span>
                </h3>
                <p ng-hide="metaMask && mainNet"><em>(for full info wait for all events to be loaded)</em></p>
                <div ng-show="showAllProposals">
                    <div ng-repeat="proposal in proposals">
                        <b>id: </b>{{proposal.id}},
                        <b>description:</b> {{proposal.description}},
                        <b>deadline:</b> {{proposal.deadline | date:'medium'}}<br>
                        <span ng-show="proposal.finished"><b>finished:</b> {{proposal.finished}},</span>
                        <b>votes:</b> {{proposal.votes}}
                        <br><br>
                    </div>
                    <button ng-click="getAllProposals()" class="btn btn-default">Refresh proposals list</button>
                </div>
                <hr>
            </div>

            <div id="makeNewProposal">
                <h4>Make new proposal</h4>
                <p>
                    <em>
                        if you are a shareholder you can make a new proposal to be voted by all shareholders. </em>
                </p>
                <div class="row">
                    <div class="col-xs-3">
                        <label for="newDebatingPeriodInMinutes">Debating Period In Minutes:</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="number" ng-model="newDebatingPeriodInMinutes" id="newDebatingPeriodInMinutes">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <label for="newProposalDescription">Proposal Description:</label>
                    </div>
                    <div class="col-xs-6">
                        <input type="text" ng-model="newProposalDescription" id="newProposalDescription" size="50">
                    </div>
                </div>
                <br>
                <button ng-click="makeNewProposal(newProposalDescription,newDebatingPeriodInMinutes)"
                        class="btn btn-default">
                    Send New Proposal To Smart Contract
                </button>
                <br>
            </div>
            <hr>
        </div>

        <div id="smartContractEvents">

            <h3 ng-click="showAllEvents = !showAllEvents" title="click to show/hide">
                <!--All events in this smart contract-->
                <span ng-hide="metaMask && mainNet">All</span>
                <span ng-show="metaMask && mainNet">Last</span>
                events in this smart contract
                <!-- see: http://stackoverflow.com/questions/15166184/are-complex-expressions-possible-in-ng-hide-ng-show/20265905#20265905-->
                <span ng-hide="(events.length > 0) || (eventsError)" title="loading...">
                    <i class="fa fa-refresh fa-spin fa-fw"></i></span>:
                <span ng-show="!showAllEvents"><i class="icon ion-arrow-right-b"></i></span>
                <span ng-show="showAllEvents"><i class="icon ion-arrow-down-b"></i></span>
            </h3>

            <div ng-show="eventsError" class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span ng-click="alertDanger=null">&times;</span>
                </button>
                {{eventsError}}
            </div>

            <div ng-show="showAllEvents" ng-repeat="event in events">
                <div>
                    <strong>
                        <a ng-href="{{etherscanLinkPrefix}}/tx/{{event.transactionHash}}"
                           title="Click to see more info" target="_blank">
                            {{event.event}}
                        </a>:
                    </strong>

                </div>
                <div ng-repeat="(key, value) in event.args">
                    <em>{{key}}</em> : {{value}}
                </div>
                (block: {{event.blockNumber}})
                <hr>
            </div>

            <!-- this will be visible before data loaded, and after that will be on the bottom of the loaded data -->
            <div>
                (starting from block
                <a ng-href="{{etherscanLinkPrefix}}/block/{{eventsStartingFromBlock}}" target="_blank">
                    {{eventsStartingFromBlock}}
                </a>
                <span ng-show="metaMask && mainNet">, for retrieving all historical events use
                    <a href="https://github.com/ethereum/mist/releases" target="_blank">
                        Mist browser
                    </a>
                </span>)
            </div>

        </div>

    </div>
</div>
